* {
  transition: background-color 0.15s;
}

.selected {
  background-color: #FFFFC0 !important;
}

.selected:hover {
  background-color: #FFFFE0 !important;
}

.btn-pink {
  color: #333;
  background-color: #FFDDE8;
  border-color: #ccc;
}

.btn-pink:hover {
  background-color: #FFD2E1;
}
